#pattern  filter=crypt diff=crypt merge=crypt
# *-values.yaml filter=crypt diff=crypt merge=crypt
duckdns-webhook-values.yaml filter=crypt diff=crypt merge=crypt
# hassio.tf filter=crypt diff=crypt merge=crypt
jdownloader.tf filter=crypt diff=crypt merge=crypt
# nextcloud.tf filter=crypt diff=crypt merge=crypt
# nextcloud-stg.tf filter=crypt diff=crypt merge=crypt
*.id_rsa filter=crypt diff=crypt merge=crypt
prd.tfvars filter=crypt diff=crypt merge=crypt
tst.tfvars filter=crypt diff=crypt merge=crypt
