name: Renovate
# on: workflow_dispatch
on:
  schedule:
    # The "*" (#42, asterisk) character has special semantics in YAML, so this
    # string has to be quoted.
    - cron: '0 4 * * 5'

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Renovate Bot GitHub Action
        uses: renovatebot/github-action@v41.0.6
        env:
          LOG_LEVEL: 'debug'
        with:
          configurationFile: .github/renovate-config.json
          token: ${{ secrets.RENOVATE_TOKEN }}
